[submodule "rest-api-medical"]
	path = rest-api-medical
	url = https://github.com/Tech-Tribe-HEPL/rest-api-medical.git
[submodule "authentication-server"]
	path = authentication-server
	url = https://github.com/Tech-Tribe-HEPL/authentication-server.git
[submodule "3d-secure"]
	path = 3d-secure
	url = https://github.com/Tech-Tribe-HEPL/3d-secure.git
[submodule "rest-api-beshop"]
	path = rest-api-beshop
	url = https://github.com/Tech-Tribe-HEPL/rest-api-beshop
